{% extends "base.html" %}

{% block content %}
    <div id="tooltip"></div><!-- div to hold tooltip. -->
    <svg width="960" height="600" id="statesvg"></svg> <!-- svg to hold the map. -->
    <script type="text/javascript" src="{{ url_for('static', filename='uStates.js') }}"></script> <!-- creates uStates. -->
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script>

        function tooltipHtml(n, d){ /* function to create html content string in tooltip div. */
            return "<h4>"+n+"</h4><table>"+
                "<tr><td>Crimes</td><td>"+(d.crime)+"</td></tr>"+
                "</table>";
        }

        var sampleData ={}; /* Sample random data. */
        var incoming_data = JSON.parse('{{result | tojson}}'); 
        console.log(incoming_data);
        ["HI", "AK", "FL", "SC", "GA", "AL", "NC", "TN", "RI", "CT", "MA",
        "ME", "NH", "VT", "NY", "NJ", "PA", "DE", "MD", "WV", "KY", "OH", 
        "MI", "WY", "MT", "ID", "WA", "DC", "TX", "CA", "AZ", "NV", "UT", 
        "CO", "NM", "OR", "ND", "SD", "NE", "IA", "MS", "IN", "IL", "MN", 
        "WI", "MO", "AR", "OK", "KS", "LS", "VA"].forEach(function(d){
                console.log(incoming_data[d]);
                var crime=incoming_data[d];
                console.log(d);
                console.log(crime);
                console.log({{max_count}})
                //console.log(d);
                sampleData[d]={crime:crime, color:d3.interpolate("#ffffcc", "#800026")(crime / 100)};
            });
        //     .forEach(function(d){ 
        //         var low=Math.round(100*Math.random()), 
        //             mid=Math.round(100*Math.random()), 
        //             high=Math.round(100*Math.random());
        //         console.log(low);
        //         sampleData[d]={low:d3.min([low,mid,high]), high:d3.max([low,mid,high]), 
        //                 avg:Math.round((low+mid+high)/3), color:d3.interpolate("#ffffcc", "#800026")(low/100)}; 
        //     });


        /* draw states on id #statesvg */
        uStates.draw("#statesvg", sampleData, tooltipHtml);

        d3.select(self.frameElement).style("height", "600px");
    </script>
{% endblock %}
