{% extends "base.html" %}

{% block content %}

    <h3>Inputs:</h3>
    <form name="inst" action="{{ url_for('institute') }}" method='POST'>
        <ul class="form-style-1">
            <li>
                <label>Institue Name:</label>
                <select name="institute" class="field-select">
                    {% for inst in institute_data %}
                        <option width="200" value="{{inst}}">{{inst}}</option>
                    {% endfor %}        
                </select>
            </li>
            <li>
                <label>Location:</label>
                <select name="location" class="field-select">
                    {% for loc in locations %}
                        <option value="{{loc}}">{{loc}}</option>
                    {% endfor %} 
                </select>
            </li>
            <li>
                <label>Year:</label>
                <select name="year" class="field-select">
                    {% for year in years %}
                        <option value={{year}}>{{year}}</option>
                    {% endfor %}  
                </select>
            </li>
            <li>
                <input type="submit" value="Submit" />
            </li>
        </ul>
    </form>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <style>https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css</style>
    <!--<script src='static/Chart.min.js'></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

    <style>
        div {
            display:inline-block;
        }



    </style>
</head>
<body>
<h1></h1><!-- bar chart canvas element -->
<div class="container main" style="margin-top: 3%;">
    <div class="container main-info">

        <div>
            <canvas id="chart_arrest" width="200" height="200" ></canvas>
        </div>

        <div>
            <canvas id="chart_disc" width="200" height="200" ></canvas>
        </div>

        <div>
            <canvas id="chart_criminal" width="200" height="200" ></canvas>
        </div>

        <div>
            <canvas id="chart_hate" width="200" height="200"></canvas>
        </div>

        <div>
            <canvas id="chart_vawa" width="200" height="200" ></canvas>
        </div>

    </div>
</div>
<script>


    // get bar chart canvas

    var mychartHate = document.getElementById("chart_hate");
    var myPieChartHate = new Chart(mychartHate,{
        type: 'pie',
        data: {
            datasets: [{
                data: {{set_hate}},
        backgroundColor: [ "#F7464A", "#46BFBD", "#FDB45C", "#FEDCBA","#ABCDEF", "#DDDDDD", "#ABCABC", "#F7464A", "#46BFBD", "#FDB45C", "#F7464A", "#46BFBD"  ]
    }],
    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: ["Murder","Forcible Sex","Nonforcible Sex","Robbery","Aggravated Assaults","Burglary","Motor Vehicle Theft", "Arson", "Vandalism", "Intimidation",
        "Simple Assault", "Larceny"],
    },
    options: {
        legend: {
            display: false
        },
        title:{
            display:true,
                text: 'Hate'
        },
        elements: {
            arc: {
                borderWidth: 0
            }
        }
    }
    });

    var mychartCriminal = document.getElementById("chart_criminal");
    var myPieChartCriminal = new Chart(mychartCriminal,{
        type: 'pie',
        data: {
            datasets: [{
                data: {{set_criminal}},
        backgroundColor: [ "#F7464A", "#46BFBD", "#FDB45C", "#FEDCBA","#ABCDEF", "#DDDDDD", "#ABCABC"  ]
    }],
    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: ["Murder","Negligent Manslaughter","Forcible Sex","Nonforcible Sex","Robbery","Aggravated Assaults","Burglary","Motor Vehicle Theft", "Arson"]
    },
    options: {
        legend: {
            display: false
        },
        title:{
            display:true,
                text: 'Criminal'
        },
        elements: {
            arc: {
                borderWidth: 0
            }
        }
    }
    });

    var mychartDisc = document.getElementById("chart_disc");
    var myPieChartDisc = new Chart(mychartDisc,{
        type: 'pie',
        data: {
            datasets: [{
                data: {{set_disc}},
        backgroundColor: [ "#19D464", "#8F19D4", "#C1D419"],
    }],
    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: ["Weapons","Drug","Liquor"],
    },
    options: {
        legend: {
            display: false
        },
        title:{
            display:true,
                text: 'Disciplinary Action'
        },
        elements: {
            arc: {
                borderWidth: 0
            }
        }
    }
    });

    var mychartVawa = document.getElementById("chart_vawa");
    var myPieChartVawa = new Chart(mychartVawa,{
        type: 'pie',
        data: {
            datasets: [{
                data: {{set_vawa}},
        backgroundColor: [ "#3219D4", "#D46A19", "#D419A8"],
            }],
            // These labels appear in the legend and in the tooltips when hovering different arcs
            labels: ["Domestic Violence","Dating Violence","Stalking"],
        },
    options: {
        legend: {
            display: false
        },
        title:{
            display:true,
                text: 'Violence Against Women'
        },
        elements: {
            arc: {
                borderWidth: 0
            }
        }
    }
    });

    var mychartArrest = document.getElementById("chart_arrest");
    var myPieChartArrest = new Chart(mychartArrest,{
        type: 'pie',
        data: {
            datasets: [{
                data: {{set_arrest}},
        backgroundColor: [ "#3219D4", "#D46A19", "#D419A8"],
    }],
    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: ["Weapons","Drug","Liquor"],
    },
    options: {
        legend: {
            display: false
        },
        title:{
            display:true,
                text: 'Arrest'
        },
        elements: {
            arc: {
                borderWidth: 0
            }
        }
    }
    });

</script>
</body></html>
{% endblock %}

